@import "https://fonts.googleapis.com/css2?family=Creepster:wght@400&family=Taviraj&display=swap:wght@100;400";

@import "https://fonts.googleapis.com/css2?family=Creepster&family=Taviraj:wght@200;300&display=swap";
