:root {
  /*--color__primary: #d6451d;*/
  --color__primary: #cc2427;
  --color__cta: #ac1f22;
  --color__cta--shadow: #931b1d;
  /*--color__primary--hue: #f5c7c7;*/
  --color__secondary: #fdffd8;
  /*--color__background: #1d202f;*/
  --color__background: #191c29;
  --color__tertiary: #e98025;
  --color__muted: #383b41;
  --color__muted--hue: #50545c;
}
