:root {
  --color__primary: #ac1f22;
  --color__primary--hue: #f5c7c7;
  --color__secondary: #feffeb;
  --color__background: #22252c;
  --color__tertiary: #e98025;
  --color__muted: #383b41;
  --color__muted--hue: #50545c;
}
