:root {
  --typography__fontSize--mobile: 18px;
  --typography__fontSize: 20px;
  --typography__lineHeight: 1.7;
  --typography__scale: 1.333;

  --typography__fontFamily: "Taviraj", Arial, serif;
  --typography__fontFamily--secondary: "Creepster", cursive;

  --typography__weight--normal: 400;
  --typography__weight--semiBold: 600;
  --typography__weight--bold: 700;
}
